[2020-02-04 14:33] MPParsley commented on #609
It will be released in the beta version, when it's ready. You can [help getting this issue forward and  contributing](https://github.com/Gizra/og/wiki/Contributing) by testing it, providing feedback and writing tests.

Have a look at #240 for the roadmap.

[2020-02-04 14:33] #609 closed, assigned to nobody

[2020-02-06 18:51] MPParsley commented on #574
Thanks!
Looks like the same copy paste had been done in #231.

[2020-02-07 11:54] pfrenssen commented on #540
Fixed in #603

[2020-02-07 11:54] #540 closed, assigned to nobody

[2020-02-08 07:33] MPParsley commented on #556
@damienmckenna, let me know if this can be closed or if you think we need a custom processor.

[2020-02-08 07:48] MPParsley opened #615 "Update Travis to Xenial"
Example job: https://travis-ci.org/Gizra/og/jobs/626719794?utm_medium=notification&utm_source=github_status

[2020-02-08 08:49] MPParsley commented on #1
See #240 for the roadmap.

[2020-02-08 08:49] #1 closed, assigned to nobody

[2020-02-08 08:50] MPParsley commented on #5
This one no longer seems relevant.

[2020-02-08 08:50] #5 closed, assigned to nobody

[2020-02-08 08:52] MPParsley commented on #6
There are still some utility classes but I suggest to use services for most of the group API.

[2020-02-08 08:52] #6 closed, assigned to nobody

[2020-02-08 08:57] MPParsley commented on #36
There's not enough information here to work with.

[2020-02-08 08:57] #36 closed, assigned to nobody

[2020-02-08 09:30] MPParsley opened #617 "Remove unused access_override setting"
_Originally posted by @pfrenssen in #570

[2020-02-08 10:46] #550 closed, assigned to nobody

[2020-02-08 13:59] damienmckenna commented on #556
Yes, this works as-is, thanks for checking back.

[2020-02-08 13:59] #556 closed, assigned to nobody

[2020-02-08 17:33] MPParsley commented on #615
Fixed in #616.

[2020-02-08 17:33] #615 closed, assigned to nobody

[2020-02-09 19:35] #535 closed, assigned to nobody

[2020-02-09 21:26] MPParsley commented on #546
Solved in #601

[2020-02-09 21:26] #546 closed, assigned to nobody

[2020-02-10 09:06] #544 closed, assigned to nobody

[2020-02-11 09:29] #549 closed, assigned to nobody

[2020-02-11 10:56] arifh opened #627 "Can I assign two roles for two group with same role name ??"
In D7 I can add two role for two group with same name. Because two role rid is different.
Example -> Group A --> Subadmin (Rid --> 50)
                  Group B --> Subadmin (Rid --> 51)

But In D8
$entity_type = 'node';
$entity_bundle = '<bundle name'>;
$group_id = 'unique gid';
 $extra_role_1 = OgRole::create();
$res = $extra_role_1
      ->setName('name')
      ->setLabel('lable')
      ->setGr

[2020-02-11 13:34] arifh opened #628 "Problem with $membership->getRoles();"
$current_roles = $membership->getRoles(); retrieved roles of member . But the problem is when I manually update deleted field at og_membership__roles table , role array not change. After cache rebuild it is reflecting.
I have another query how to unassigned role  ??

[2020-02-12 04:59] arifh commented on #628
@MPParsley I am waiting for your response

[2020-02-12 06:11] MPParsley commented on #628
@arifh, you should never interact directly with the Database.

Most API is available through services.
Have a look at this answer: https://github.com/Gizra/og/issues/535#issuecomment-513677322

[2020-02-12 06:11] #628 closed, assigned to nobody

[2020-02-12 19:45] #617 closed, assigned to MPParsley

[2020-02-23 18:17] MPParsley opened #630 "Add support for Drupal 9"
We should start testing for Drupal 9.

[2020-03-02 19:45] semiaddict opened #632 "How to display a user's groups using views ?"
I am trying to create an entity reference view to use for the og_audience reference field.
My aim is to filter the list of groups in the og_audience to only those the user is a member of, which I believe used to be the case in the D7 version.

I have tried using an og_membership view, a node view, and even a user view, but none seem to allow the creation of the desired relationships to achieve thi

[2020-03-02 19:50] MPParsley commented on #632
@semiaddict, have a look at #254 and #565.

[2020-03-02 19:58] semiaddict commented on #632
Great. Thank you @MPParsley.

[2020-03-02 19:58] #632 closed, assigned to nobody

[2020-03-03 20:26] jerrac opened #633 "How to set up Pathauto patterns in the Drupal 8 version?"
How can I make pathauto generate url aliases like `/group/group-name/pages/page-title`?

This is the best attempt I could come up with based on the tokens pathauto's token browser listed as available:

`/group/[node:og_audience:0:entity]/pages/[node:title]`

When I regenerate the aliases, no article or basic page aliases are created. I have made both content types group content types, and I have c

[2020-03-04 11:09] semiaddict commented on #352
I believe this would indeed be a better and more generic option than the default argument proposed in #254.

[2020-03-11 13:10] #630 closed, assigned to nobody

[2020-03-11 13:15] pfrenssen opened #634 "EntityType::isSubclassOf() is deprecated"
When running unit tests using the deprecated code report, the following notice is emitted:

[code]

[2020-03-11 15:28] #634 closed, assigned to nobody

[2020-04-14 19:17] jerrac commented on #633
I revisited this today on a fresh instance of Drupal 8.8.5. I'm not sure what version of OG is being used, I ran composer update, so it should be the latest recommended version, or the latest dev. Oddly neither the module list in Drupal, nor drush pm-list show a version number....

Anyway, this seems to work just fine as a pattern for group content:

[code]
Assuming you only need to worry about co

[2020-04-14 19:17] #633 closed, assigned to nobody

[2020-04-14 19:45] MPParsley commented on #633
Another way would be to use node:menu-link:parents:join-path, it allows you to create menu subtrees:
 [node:og_audience:entity:title]/[node:menu-link:parents:join-path]/[node:title]

[2020-04-14 22:19] jerrac commented on #633
Drupal says:

[code]
When I try: `[node:og_audience:entity:title]/[node:menu-link:parents:join-path]/[node:title]`.

![Screenshot_2020-04-14 Add Pathauto pattern grouptest](https://user-images.githubusercontent.com/910764/79279615-42744680-7e63-11ea-9ab4-9e665dd45a6c.png)

That's all I see for og_audience when using the token browser.

Wouldn't the `[node:menu-link:parents:join-path]` token requir

[2020-04-15 03:20] MPParsley commented on #633
Indeed. But using menu links to map breadcrumbs / urls makes sense in our case.

[2020-04-15 14:19] geek-andi opened #638 "Using og_audience field with media entity: Field does not show the groups user is member in"
We're using latest https://github.com/Gizra/og/pull/571 branch. I assume that we can simply add the needed config to media entities to make og work with it (see code below). If done so, the add/edit/delete media permissions show up correctly in `/admin/config/group/permissions/node/groupname`.

However a group _member_ is not able to select a group he/she is member of. A group _administrator_ howe

[2020-04-15 20:47] jerrac opened #639 "[Feature Request] More options in og_access"
I just did some quick manual tests on a clean Drupal 8.5.3 instance with the og_access branch referenced in this pull request: https://github.com/Gizra/og/pull/242. It seems to work well.

That said, the reason I'm looking into this now is that I'm trying to prototype an Intranet site for my workplace. One of the requirements is that I have more access levels that just the "public" or "private" th

[2020-04-17 00:44] agallewale commented on #639
At least till Drupal 7.x, og_access provided all the three levels you had asked. I am using this already in production, for  a very popular drupal based community site that scales to 1.8  million visitors with 300+ groups.  I am yet to try 8.x , but if it is missing any of the levels it would be a regression from what used to be available.  You can try making your group public and see if it suppor

[2020-04-17 03:25] jerrac commented on #639
Did it? A few years ago I was trying to use D7 for this same project and I think I had to use og_visibility to get close to what I needed. There was something still missing at the time, but I don't quite recall what...

From the looks of things, the change they are making is described here: https://github.com/Gizra/og/pull/242#issuecomment-590078108

[2020-04-18 02:59] agallewale commented on #639
Hmm. in D7.x I am not using og_visibility. In fact by default every new content created is public or private as per the group settings. So if you have a public group , then the content is world viewable even if you are not member of site. Isn't that you want? I can understand now #242 can cause it different, but  atleast you can make group public explicitly and still achieve the same thing for new

[2020-04-18 03:36] jerrac commented on #639
The issue is I'd like some content to not be world viewable, but be viewable to any authenticated user.

So, say, a committee should only be seen by current employees. But some content would only be for committee/group members, and some would be for any employee.

Currently, the way you would do that is by removing anonymous user access to your entire site, then the committee would make the any em

[2020-04-20 17:26] agallewale commented on #639
We have similar setup and some workarounds.  First we distinguished from the existence of the committee group itself from content created by those committees.
1) A committee starts being a private group. Its existence is only known to the invited committee members.
2) At some point the committee decides to make its existence known to employees. At which point it creates another private group open

[2020-04-29 20:18] damienmckenna commented on #600
This problem was caused by #231.

[2020-04-29 20:18] #600 closed, assigned to nobody

[2020-04-30 13:26] alfaguru opened #642 "Other groups field ignoring bundles settings"
To reproduce this error, configure more than one content type (CT1, CT2) to be a group. Add an audience field to another content type( CT3), and configure it so only CT1 is valid.

**Problem 1**. On editing a CT3 the "Other groups" field will return nodes of type CT2 as well as CT1.

**Problem 2**. Attempting to submit with a CT2 node selected will cause an exception to be thrown as the validation

[2020-05-04 15:00] ceswebmaster commented on #633
I see this is closed but it's not working. I have the latest dev and you can't generate the pattern. Going to delete existing patterns it doesn't register any of the content related to and being the group. If you click to bulk generate the only thing updated is the 1 basic page node i have setup to act as the homepage. Any other content that is related to the group is not touched. I even went as s

[2020-05-14 17:54] jerrac commented on #639
That is much more formal, and sensible, than I'd expect where I work. I'll have enough of a job just getting the idea started, I don't want to tackle pushing for more sensible workflows. :|

So, that's a private group, but the admin adds all the employees as members?

[2020-05-23 23:59] agallewale commented on #639
The private group has only limited members. So Admin adds only the committee members to the group (which is typically less than 10). Then when a public group is created , the interested employees can self join. Or you can use the bulk admin module to add all employees as members to required group.

[2020-06-01 08:41] edvanleeuwen opened #644 "Difference between D7/D8 for group_content_access values"
In D7 the values of group_content_access are:
[code]

D8:
[code]

I do not know why this change has been done, but it affects a straight migration.

[2020-06-01 13:35] MPParsley commented on #644
Hi @edvanleeuwen, thank you for your feedback.

In fact group access is a feature that is currently being ported in #242, I suggest you offer this feedback and discuss it over there.

[2020-06-01 13:35] #644 closed, assigned to nobody

[2020-06-15 18:01] jerrac commented on #240
Hey all,

Can we get an update on the status of OG for Drupal 8?

I've been poking around and watching issues and pull requests for the past couple months. Haven't found anywhere I thought I could help, but I am eager to see a D8 release. I have a project waiting for it. (I actually floated the idea of paying Gizra to finish things up past my boss, but the project isn't something we'd be able to f

[2020-06-15 20:00] pfrenssen commented on #240
We're currently down to 6 issues before we plan to release a beta version: https://github.com/Gizra/og/issues?q=is%3Aissue+is%3Aopen+label%3A%22Beta+blocker%22

Any help to finish these is more than welcome!

[2020-06-16 06:25] MPParsley opened #645 "[PP] Provide functional tests for the migration upgrade"
Functional tests are needed for running a migration from /upgrade.

Postponed on https://www.drupal.org/project/drupal/issues/2974445
It will be easier to implement when this is complete, or any of the child issues are committed.

[2020-07-02 11:29] pfrenssen opened #646 "Core permissions on group entities are leaking to group content"
Use case:

* I have a "Community" group type which is intended to host posts from the group members, similar to a Facebook group.
* I have two group content types:
  1. "Post" nodes which are posted by the group members.
  2. "Page" nodes which contain basic information about the community.
* I have an "Editor" role which is allowed to edit and delete the "Page" nodes (which is an OG permission),

[2020-07-02 11:47] pfrenssen commented on #646
It looks like this second call to `$this->userAccess()` is intended to:

* check if the user is UID 1, this user has all permissions on all group content.
* check if the user has the "administer group" permission, which gives access to do everything on group content.
* check if the `group_manager_full_access` flag is set in the OG configuration and the user is the owner, this would give full acces

[2020-07-03 13:32] pfrenssen opened #651 "Switch Travis CI integration to Github Apps"
We are still using the legacy webhooks integration for Travis CI, but this is deprecated and is becoming unreliable. About half of the builds are not reporting back to Github at the moment and need to be rebuilt manually.

This can be solved by switching to the Github Apps integration of Travis CI, but this comes with some manual work:

* An account on travis.com is required (where previously the

[2020-07-03 13:33] pfrenssen commented on #651
@amitaibu is this something that you or your team can take care of?

[2020-07-03 18:18] amitaibu commented on #651
@pfrenssen Sure. I'll ask @AronNovak to have a look when he gets some free time.

[2020-07-03 20:27] pfrenssen commented on #646
OK it seems that this can only be replicated if the alter hook is implemented. Giving a user access to edit or delete a group in `hook_og_user_access_alter()` has the unintended side effect that it will also give these permissions to all group content. This happens because the alter hook is fired both for the group and the group content.

[2020-07-04 11:19] AronNovak commented on #651
@amitaibu
![image](https://user-images.githubusercontent.com/114076/86511387-e6cdaf80-bdf8-11ea-9b9f-7e31456c33c8.png)
May I have temporary admin permissions for this repo then?

[2020-07-04 11:19] #543 closed, assigned to MPParsley

[2020-07-04 18:56] amitaibu commented on #651
@AronNovak Done

[2020-07-07 07:42] pfrenssen opened #652 "Remove `$ignore_admin` flag on `OgAccess::userAccess()`"
We currently have an `$ignore_admin` flag on `OgAccess::userAccess()` which has been ported over from Drupal 7 but is currently not used anywhere. Also in D7 this was barely used, in the 8 years after it was added it was never mentioned in any issue except the original one.

The motivation for adding this originally was as follows (ref. [issue #1524480](https://www.drupal.org/project/og/issues/152

[2020-07-07 09:14] pfrenssen opened #654 "Remove static cache in `OgAccess::userAccess()`"
We currently have a static cache in `OgAccess::userAccess()` which adds some considerable complexity but does not seem to be needed. All of the external methods that we are calling that do database queries already have static caches. The only part that is not covered is the alter hook, but it is not our responsibility to provide a caching layer for expensive logic that happens inside an alter hook

[2020-07-07 12:43] MPParsley commented on #652
Shouldn't we update the dochead to reflect this?
[code]

[2020-07-07 14:55] pfrenssen commented on #652
I think this is still correct, except maybe that it should say "All access checks" instead of "All permission checks". Access includes more things than just checking if a permission is set.

[2020-07-07 14:56] #654 closed, assigned to nobody

[2020-07-07 19:15] #652 closed, assigned to pfrenssen

[2020-07-09 05:04] AronNovak commented on #651
![image](https://user-images.githubusercontent.com/114076/86999226-615c4d80-c1b2-11ea-946a-e747bca1ed64.png)

[2020-07-09 06:23] AronNovak commented on #651
![image](https://user-images.githubusercontent.com/114076/87004266-71c5f580-c1bd-11ea-8c96-fa7511d6b275.png)

[2020-07-10 15:14] pfrenssen opened #657 "Rename 'administer group' permission to 'administer organic groups'"
A user can be given a global permission to give them access to manage all groups in the website. This permission is called `administer group`, but there are a few problems with this permission:

1. It is not properly namespaced, and is conflicting with the [same permission from the Group module](https://git.drupalcode.org/project/group/-/blob/8.x-1.x/group.group.permissions.yml#L2).
2. It is confu

[2020-07-10 15:31] amitaibu commented on #657
:+1:

[2020-07-10 16:26] pfrenssen commented on #657
I started on this but there is a small complication: in D7 the `administer group` permission is both a global (Drupal) permission and a group permission, and in the D8 code we have been using them interchangeably.

Here is the relevant section from the D7 module:

[code]

I started to do a global search/replace operation to fix this, but we'll have to look at each individual case whether it is int

[2020-07-10 16:55] pfrenssen opened #658 "Clean up confusion between 'edit', 'update' and 'update group' group level permissions"
In `OgAccess` there is a mysterious section of code:

[code]

So what is happening here is that we are conflating two equivalent entity operations `edit` and `update` and mapping them on an OG specific group level permission `OgAccess::UPDATE_GROUP_PERMISSION` which is `update group`.

This can be traced back to the early days of the D8 port when the access control was initially implemented (ref h

[2020-07-10 18:11] pfrenssen opened #659 "`OgAccess::userAccess()` doesn't differentiate between entity operations and group level permissions"
There is a problem with the architecture of `OgAcces::userAccess()` in that it doesn't make a distinction between two concepts in core that are depending on eachother but are fundamentally different:

## Entity operations

Entity operations are basic actions that can be taken on entity level. They are mostly used for CRUD level operations like `create`, `view`, `update` and `delete`, but there is

[2020-07-14 11:49] pfrenssen opened #663 "Do not fail 9.x.x builds on deprecation warnings"
We have introduced a check for deprecation warnings in our CI pipelines when we were preparing the D9 compatibility. This is causing problems now that D9 is going full steam ahead and has started to deprecate things in preparation for Drupal 10.

Some of these deprecations cannot be resolved in a way that would work both on Drupal 8 and Drupal 9 (for example https://www.drupal.org/node/3154407 - t

[2020-07-14 14:40] MPParsley commented on #663
Apart from the deprecation checking, aren't we bound to run into a situation where we need to break compatibility with Drupal 8?

[2020-07-14 15:14] pfrenssen commented on #663
At the moment I don't think this will be necessary, unless if in the future we will start to depend on new features that are only available for D9.

I think this can happen quite organically. D8 is now feature frozen, only accepting bug fixes, and will be EOL in 16 months. There are definitely some very interesting feature additions planned for D9 which we might want to adopt (like [bundle classes

[2020-07-18 09:39] #663 closed, assigned to nobody

[2020-07-18 14:49] #657 closed, assigned to nobody

[2020-07-20 20:10] MPParsley opened #667 "Function ReflectionType::__toString() is deprecated"
PHPUnit reports:

Unsilenced deprecation notices (10)
  10x: Function ReflectionType::__toString() is deprecated
    10x in GroupSubscribeFormatterTest::setUp from Drupal\Tests\og\Unit

PHPUnit 6.5.14 by Sebastian Bergmann and contributors.

Perhaps we should update phpunit according to https://www.drupal.org/node/3078763

[2020-07-22 08:27] barami opened #669 "Some rules conditions for 7.x cannot use it."
For drupal 7.x

When using og with rules, og provides rules components.
Also og provides rules conditions.

But some rules conditions like 'Entity is group' and 'Entity is group content' is useless for rules.
It always failed to validate on rules ui.
When search a solutions found on community, answer is that use an 'Entity has field' condition.

It seems that it is the condition to check whether e

[2020-07-28 15:03] pfrenssen commented on #667
Fixed in #668.

[2020-07-28 15:03] #667 closed, assigned to nobody

[2020-07-28 18:52] pfrenssen commented on #658
This code has been removed as part of #659. This mysterious code was introduced due to incorrect documentation and parameter naming, as explained in #659.

[2020-07-28 18:52] #658 closed, assigned to nobody

[2020-07-29 07:56] pfrenssen opened #672 "Split up OgAccess::userAccessEntity() into two methods"
This is part of the `OgAccess` revamp.

As detailed in earlier issues some inconsistencies were introduced in the documentation of the `OgAccess` methods during the early days of the D7 > D8 port and over time we have deviated from the original functionality as designed in D7.

In short, the original D7 functions `og_user_access()` and `og_user_access_entity()` were designed to check user permissi

[2020-07-29 16:52] #659 closed, assigned to pfrenssen

[2020-07-30 10:08] pfrenssen opened #674 "Provide "delete" entity operation access checks on group entities"
Currently we only have full entity operation access checks for group content (see for example `OgEventSubscriber::provideDefaultNodePermissions()` which supplies these for node group content).

We have a group permission called `update group` but ~this is not currently enforced and~ (edit: is enforced now, ref. #673) test coverage for this is incomplete (ref. a user with this permission (`user4`)

[2020-07-30 10:15] pfrenssen opened #675 "Provide a hook for altering access on group content entity operations"
We have an alter hook in `OgAccess::userAccess()` that allows to alter user permission based access. In a similar vein we should allow to alter based on group content entity operations.

At the moment this is not impossible, since the group content entity operation access check also passes through `::userAccess()`, but this puts the burden on the hook implementation to do the reverse mapping of th

[2020-07-30 17:59] pfrenssen commented on #646
When I started looking closer at this issue I found a number of problems and inconsistencies in `OgAccess` and filed separate issues for them: #654 #658 #659 #672 #674 #675

Now that these are nearing completion this bug can no longer be reproduced in my installation. Closing.

[2020-07-30 17:59] #646 closed, assigned to pfrenssen

[2020-07-30 18:05] pfrenssen opened #676 "No longer allow PHP 7.4 tests to fail"
Since #668 was merged our test suite is passing on PHP 7.4. Let's update our Travis integration to no longer allow tests on PHP 7.4 to fail, so that we can ensure that we will not regress.

It would be great to be able to announce in the next release that we now fully support Drupal 9 as well as PHP 7.4!

[2020-07-30 18:41] #676 closed, assigned to nobody

[2020-07-31 11:24] pfrenssen opened #678 "Optional $role_name filter not implemented in PermissionManager::getDefaultPermissions()"
The optional `$role_name` parameter in `PermissionManager::getDefaultPermissions()` is not used, so this filter is currently not working. We still need to implement it.

[2020-07-31 11:56] pfrenssen opened #679 "Adopt strict typing"
Now that we no longer support PHP 5 we can start using strict typing. This will help make our code more reliable since it will prevent us from doing any unwanted type casting.

In order to enforce this, we can require `slevomat/coding-standard` and add the following declaration to our `phpcs-ruleset.xml.dist`:

[code]

[2020-07-31 12:01] pfrenssen opened #680 "Adopt scalar type hints and return types"
Now that we no longer support PHP 5 we can adopt scalar type hints and return types for our interfaces and protected methods.

Since changing interface signatures is a B/C break we should do this before we release a beta version.

I don't think it is necessary to perform this task in a single PR because of our large number of interfaces. It's OK to spread this over a number of PRs that cover a few

[2020-07-31 12:14] pfrenssen commented on #510
If OG Menu requires custom permissions then it should implement an event listener that announces them. I see it is already doing this, it has `OgMenuEventSubscriber::provideDefaultOgPermissions()` which provides its group level permission.

The entity operation permissions are covered by the blanket implementation which covers all group content (ref `OgEventSubscriber::getDefaultEntityOperationPer

[2020-07-31 15:22] pfrenssen opened #682 "OgRoleInterface should extend RoleInterface"
`OgRoleInterface` is built on top of the core `RoleInterface` but it is currently not extending it since this was causing issues in PHP5 where a class that implements an interface could not extend another class that implements the same interface.

Since we no longer support PHP5 we can now let `OgRoleInterface` extend `RoleInterface` without problems.

[2020-08-01 17:09] edvanleeuwen opened #683 "Groups audience required field cannot have single other group entry"
If I set the groups audience field to be required, I have to enter a group in the primary field which is a selection of the groups I have joined. An admin should be able to enter a group in the other groups box.

[2020-08-02 19:08] #672 closed, assigned to nobody

[2020-08-04 09:56] #674 closed, assigned to nobody

[2020-08-07 10:49] pfrenssen opened #686 "Convert hooks to events, deprecate hooks"
We should provide events as alternatives for our hooks, and deprecate the hooks by emitting a deprecation warning when they are implemented. It is beneficial for people porting their code from D7 to keep the hooks around for some more time. We can then remove them in our next major release.

[2020-08-07 10:58] pfrenssen opened #687 "Deprecate Og::invalidateCache()"
In D8 and above the cache handling is much improved and there is no need to have a shotgun approach to clear the entire cache like is offered in `Og::invalidateCache()`. We should deprecate this method so that it can be removed in the next major version.

Any calls to this method inside OG should be removed. If any test failures should occur then this means we are missing some cache dependencies.

[2020-08-07 11:00] pfrenssen commented on #686
I had originally assigned this to the beta1 milestone but since this is an introduction of a new feature along with a deprecation of an existing feature this doesn't break BC and is fine to implement after beta1.

[2020-08-07 11:06] MPParsley commented on #686
Great idea! See https://www.drupal.org/node/2881531

[2020-08-08 06:50] MPParsley commented on #679
Shouldn't this be added to https://www.drupal.org/project/issues/coder?

[2020-08-09 12:37] MPParsley commented on #196
In #640 the support for Drupal Console was removed since it was conflicting with Drupal 9 (ref commit aa3b87c).

Closing this.

[2020-08-09 12:37] #196 closed, assigned to nobody

[2020-08-09 12:38] MPParsley commented on #517
CodeClimate is no longer blocking PRs and is now based on the same sniffs as PHP codesniffer.

[2020-08-09 12:38] #517 closed, assigned to nobody

[2020-08-09 16:14] #679 closed, assigned to nobody

[2020-08-09 17:14] #682 closed, assigned to MPParsley

[2020-08-12 07:44] pfrenssen commented on #422
In OG the "group manager" is an alias for the owner of the group entity. So this flag controls full access for the group entity owner / author.

With "content owner" do you mean the owner of the group entity or of the group content entity?

[2020-08-12 07:48] pfrenssen commented on #257
This was fixed some time ago in #480.

[2020-08-12 07:48] #257 closed, assigned to nobody

[2020-08-12 08:02] pfrenssen opened #691 "OgAccess should return a neutral access result if a permission is not granted"
Currently most methods in `OgAccess` that deal with determining permission based access return `AccessResult::allowed()` if the user has permission, but also return a hard `AccessResult::forbidden()` if the user doesn't have access. While this (mostly) achieves the expected result this comes with some problems:

* It does not work in the same way as access checks in Drupal core. Core returns a neu

[2020-08-12 13:53] #675 closed, assigned to nobody

[2020-08-14 03:06] varshith opened #694 "Users can still access 'subscribe' link directly for closed groups"
## Overview
When a group is closed, a user can still go to the 'subscribe' link for that group and still register to that group. This is a bug and needs fixing.

## Details
This happens on a site which uses `hook_og_user_access_alter` to deny permissions for `subscribe` and `subscribe without approval` for the group in question.

[2020-08-15 12:39] pfrenssen commented on #336
This has been fixed in #449

[2020-08-15 12:39] #336 closed, assigned to nobody

[2020-08-15 12:42] pfrenssen opened #696 "MembershipManager::getMembership() is inefficient for users with many memberships"
The current implementation of `MembershipManager::getMembership()` is a very simple affair which calls `::getMemberships()` to get the full array of memberships, then filters them down to the requested one.

This is slow and memory inefficient in case the user has a large number of memberships. Especially since it does a full load of all membership entities.

We should rework this to do a query, a

[2020-08-15 12:51] MPParsley commented on #79
FYI, og is using Travis now also see #651.

[2020-08-15 12:51] #79 closed, assigned to nobody

[2020-08-15 17:55] MPParsley commented on #639
In #242 public groups are "Visible to the world."

If you have any suggestions wrt og_access you can discuss them in #242.

[2020-08-15 17:55] #639 closed, assigned to nobody

[2020-08-15 18:14] MPParsley commented on #90
This seems to have been fixed:

[code]

[2020-08-15 18:14] #90 closed, assigned to nobody

[2020-08-15 18:18] MPParsley commented on #52
https://github.com/Gizra/og/commit/08939dd6e0cc74e2c2c566ac482f954fda19b491

[2020-08-15 18:23] MPParsley commented on #683
Please not that the complex widget is to be removed and replaced by a simple entity reference field widget.

See WIP on #570

[2020-08-15 18:28] MPParsley commented on #606
Hi @bradbulger,

The documentation is still for Drupal 7.
You are welcome to open a PR to update the documentation for Drupal 8.

See WIP on #231 & #243.

[2020-08-15 18:30] MPParsley commented on #373
It seems this has been fixed in #374.

[2020-08-15 18:30] #373 closed, assigned to nobody

[2020-08-15 18:40] MPParsley commented on #327
This seems to have been resolved:
[code]

[2020-08-15 18:40] #327 closed, assigned to nobody

[2020-08-15 18:42] MPParsley commented on #321
This is fixed in #322.

[2020-08-15 18:42] #321 closed, assigned to nobody

[2020-08-15 18:44] MPParsley commented on #307
About 30 of this files are just tests that have an extra dependency to 'options'.

[2020-08-15 18:47] MPParsley commented on #306
Instead of making someone member I'd go for a constraint. cc @pfrenssen @amitaibu wdyt?

[2020-08-15 18:56] MPParsley commented on #195
Fixed in #194.

[2020-08-15 18:56] #195 closed, assigned to nobody

[2020-08-15 18:58] MPParsley commented on #214
Right, there isn't. But you can attach fields and have your own logic there.

[2020-08-15 19:03] MPParsley commented on #233
That's probably because your group type is used by pieces of content on your site. You may not remove groups until you have removed all of the group content.

[2020-08-15 19:03] #233 closed, assigned to nobody

[2020-08-16 10:50] pfrenssen commented on #694
This allows users to join groups without permission, so this is a security issue. I am tagging this to block the next release. We are still in alpha and not covered by the security policies of the Drupal security team, but it would regardless be a good idea to get this out in the next release.

[2020-08-16 11:20] MPParsley commented on #119
FYI, the complex widget will be removed. See #181.

[2020-08-16 16:31] edvanleeuwen commented on #683
Obsolete.

[2020-08-16 16:31] #683 closed, assigned to nobody

[2020-08-17 07:49] pfrenssen commented on #651
Isn't this fixed as part of #656? We are using Github apps now. Are there some tasks left to fulfill the scope of this ticket, or can it be closed?

[2020-08-17 07:53] AronNovak commented on #651
@pfrenssen We completed this issue, indeed.

[2020-08-17 08:17] pfrenssen opened #699 "Prepare release notes for upcoming 8.x-1.0-alpha6 release"
# 8.x-1.0-alpha6

This release adds support for Drupal 9.x and PHP 7.4, fixes a security vulnerability and has improved entity access.

There are some significant backwards compatibility breaks in this release, please refer to the dedicated section below.

## Security fixes

* #694 Users should not be able to subscribe to closed groups

## New features

* #672 Provide dedicated methods to check fo

[2020-08-17 08:43] #694 closed, assigned to nobody

[2020-08-17 08:47] pfrenssen commented on #642
Fixed in #643

[2020-08-17 08:47] #642 closed, assigned to nobody

[2020-08-17 08:52] pfrenssen commented on #699
Ready with the first draft. Unassigning.

[2020-08-17 09:27] #651 closed, assigned to AronNovak

[2020-08-17 10:40] claudiu-cristea commented on #696
This looks like a duplicate of #485. Isn't it?

[2020-08-17 16:37] pfrenssen commented on #696
No but it is related, #485 is about providing a persistent cache, this is about not loading more memberships than strictly required.

[2020-08-17 18:37] amitaibu commented on #306
I thin both cases might have a use case, but I guess having the user first become a member might be more according to users' expectations.

[2020-08-18 09:33] pfrenssen commented on #306
Yes I think we should let this be implemented in a way that the project requires. The initial author of the group becomes the administrator, but there can be many administrators and they are not necessarily tied to the group ownership forever. Changing entity ownership is not a common operation, and I even think this is not supported in core. It will always require some custom code or set up with

[2020-08-18 09:42] pfrenssen commented on #306
I think we maybe should drop the functionality that gives a group owner the full rights to maintain the group forever? There is no real need for this since this the group author is already been given the admin role. I think our idea of placing full trust in the original creator of a group can backfire. We have seen cases where group admins needed to be removed from their groups after complaints ab

[2020-09-01 20:40] nextagencyio commented on #254
When I add this as the default I get a page not found.

[2020-09-02 08:25] MPParsley commented on #254
Hi @drupalninja, could you provide some more information?

In the argument it's possible to configure the behavior when there are no results, this might trigger the 404?

[2020-09-02 13:02] nextagencyio commented on #254
I used the default setting for that contextual filter but it never actually works in preview or on the page even though the logged-in user has memberships to the group. Maybe a screenshot of how you are using it would let me know if I am doing it right?

I ended up taking a different route and just adding relationships to the views.inc file from another issue I found to do what I needed to get don

[2020-10-07 08:18] MPParsley commented on #699
@pfrenssen when would you like to release this?

[2020-10-07 15:51] pfrenssen commented on #699
I just checked https://github.com/Gizra/og/milestone/4 and it seems we are pretty close to release! It seems we just need 2 tickets merged and do some coding standards love.

@claudiu-cristea has just now approved #692, and #693 is also in approved state even though some changes were done after the last approval. This is probably not blocking since it is a documentation issue. It is also not in th

[2020-10-07 15:54] #691 closed, assigned to nobody

[2020-11-06 21:08] avalon2110 opened #706 "OgRolesForm and OgPermissionsForm dont exist."
https://github.com/Gizra/og/blob/9c9be3fc76acc4f50ef9982c5f047d98f36471f9/og_ui/og_ui.routing.yml#L31
https://github.com/Gizra/og/blob/9c9be3fc76acc4f50ef9982c5f047d98f36471f9/og_ui/og_ui.routing.yml#L39

The error "**InvalidArgumentException**: Class "\Drupal\og_ui\Form\OgPermissionsForm" does not exist." is thrown when navigating to the group roles or group permissions pages .

[2020-12-04 19:34] idimopoulos opened #707 "Is access handler class meant to be working this way?"
Hello, this is possibly a question rather than an issue.
### What happens with *group content*?
When I have a group content entity, e.g. `$child`, and I have defined a `GroupContentOperationPermission` e.g. `do some stuff` in my subscriber, I can properly call `$child->access('do some stuff)`, and this will call the access handler, which will call the `og_entity_access` hook, which will call event

[2020-12-04 19:43] idimopoulos commented on #707
Changing the above to
[code]
actually fixed my issue and it seems to me like it is normal since the mapping mainly creates a translation from the CRUD operations `update` and `delete` to `update group` and `delete group` respectively.

[2020-12-04 22:17] idimopoulos opened #708 "OG Role is stepping on access handler's fields"
This is just a suggestion. A role in OG groups is like having a role in the website but contained within a group.
In OG Role, the
[code]
seems to be taking it too far. The role should be more or less just a list of permissions and settings of a user. When asking if the user "has a permission" is like checking the list. The `if ($this->isAdmin())` is adding logic to this process and there is a whol

[2020-12-04 22:19] idimopoulos commented on #708
Looking at the following, it seems that permissions don't matter if the OG role is flagged as admin. Is this the purpose of this flag? to create a UID1-like user role for the groups?
[code]

[2020-12-06 12:33] pfrenssen commented on #707
It seems you are mixing up permissions and CRUD operation access checks, it doesn't make sense to call `$group->access('do some stuff')`, the only operations that are supported by OG are `update` and `delete`. We don't consider view access (also not in the D7 version of OG if I am not mistaken), and create access is handled differently in core (through `hook_entity_create_access()`).

It looks to

[2020-12-07 09:47] pfrenssen commented on #708
Yes that is the way this is intended to work, and it was also like this in the D7 version of OG. A group admin is considered a super user and is automatically granted all permissions. It should typically only be granted to a technical user like the webmaster.

[2020-12-07 09:52] idimopoulos commented on #708
Ook then, I guess this can be closed then :) Thanks.

[2020-12-07 09:52] #708 closed, assigned to nobody

[2020-12-07 10:03] idimopoulos commented on #707
It is still a bit weird to me however I created a test and managed to get it a bit straight. In my case, I had some very specific cases so the operation was the same as the permission name.
The test proved that it is indeed working fine. The `::userAccessEntity` is the correct way to go. I have discussed this with @pfrenssen in chat as well and it seems that indeed, custom operations with custom p

[2020-12-07 10:03] #707 closed, assigned to nobody

[2020-12-18 20:08] liquidcms opened #710 "Can't uninstall."
I've used OG a fair bit in D7. Client just added requirement to project. Seemed as though OG not ready for use yet so started looking at Group. Not a fan of the approach taken with that module so quick check to see how far along OG is.

First Test:
- composer install 1.x-dev
- drush en -> site crashes
- drush cr -> site restored (shouldn't be required to do a cr after en)
- added new bundle, set a

[2020-12-18 20:45] liquidcms commented on #710
go back to old db without OG enabled.. and start over.

- get to point to add people individually this time as VBE doesn't work with user entity); but i see no ui to add users to a group - so dead in the water.

i'll try going through the git issues to see if anything.

[2020-12-19 11:41] MPParsley commented on #710
Dear Peter, you may want to have a look at #240 first. It contains references to a number of features that you may need.

Could you post the error message or even better a stack trace of the error you encountered and some more information on the version of Drupal etc. and some steps to reproduce?

Note that there's a [settings UI where you can configure how Drupal should deal with orphaned group c

[2020-12-22 02:21] liquidcms commented on #710
the error after enable is:
Drupal\Component\Plugin\Exception\PluginNotFoundException: The "og_membership" entity type does not exist. in Drupal\Core\Entity\EntityTypeManager->getDefinition() (line 150 of core\lib\Drupal\Core\Entity\EntityTypeManager.php).

cleared up after cache rebuild.

looking at the link to the roadmap; i likely need to be using the -dev version. i think i am likely not - but

[2021-01-22 06:42] seanenroute opened #717 "UI for Permissions and Roles is missing"
The UI is missing links for Add People, Invite People, Permissions, and Roles. Currently only "Members" is visible.

From other discussions it appears these functions are built into the newest version of Organic Groups but are only accessible by building custom modules.

For us average developers who don't have a programming background nor the budget these are must have UI functions to be able to

[2021-02-23 17:57] jerrac opened #718 "Request subscription form allows user to choose admin role and active status"
![image](https://user-images.githubusercontent.com/910764/108885152-4bbe5b80-75bc-11eb-86e5-7bb3aaa1aa31.png)
On my little test instance, a user requesting access to a public group can set their role, and their status.

Drupal 8.9.13
OG 8.x-1.x-dev

I created a basic group content type, set basic page and article as group content, and enabled og_access.

I have 2 test users. I had one create a pub

[2021-03-16 22:18] bradbulger commented on #606
How can I update the documentation when I need to read documentation to understand how it works?

[2021-04-06 11:20] RomanaPG opened #719 "Drupal 9 | alpha release for Organic Groups Modul?"
Now we have the dev.-Version for the Organic Groups Version for Drupal 9. Are there any plans for an alpha release?

[2021-04-21 17:48] jerrac commented on #718
@MPParsley Since you seem the most active, I'll tag you.

I was just poking around OG and ran into this issue again. Since it's been months, I thought tagging you might be a good idea. Apologies if it wasn't.

[2021-04-21 19:58] MPParsley commented on #718
Hi @jerrac, thank you for reaching out.

I noticed you have "Organic Groups access control" enabled which is not yet part of the og module as it is being worked on in #242. Also #231 seems to be applied as it provides the functionality to add the user membership state. Do you have any other patches applied? If the issue only occurs with that PR patch enabled it would be best to further discuss thi

[2021-04-21 20:09] jerrac commented on #718
Oh for crying out loud... I thought I had switched fully back to stock OG 8.x1.8-dev. Instead I was still, somehow, on the fork I made and pulled several pull requests into. Including the access one.

Sorry about that.

I'll see if I can isolate which pull request this is showing up from, then comment there, or open a new issue.

[2021-04-21 20:09] #718 closed, assigned to nobody

[2021-04-21 21:50] jerrac commented on #718
FYI, if there was something wrong in any of the pull requests I had merged into my branch, it's been fixed. I just redid everything based on the latest 8.x-1.x commits and I can't replicate it. Which is nice.

[2021-04-22 07:54] lennartvava commented on #719
+1 for an alpha6 with D9 support.

[2021-04-22 07:54] MPParsley commented on #718
Glad to hear 👍

[2021-04-22 09:28] #510 closed, assigned to nobody

[2021-04-22 09:56] MPParsley commented on #699
@pfrenssen, all of these issues have been resolved and added to the release notes above:
- #692
- #693
- #700
- #720

@amitaibu, @pfrenssen, I created a draft release for [8.x-1.0-alpha6](https://github.com/Gizra/og/releases/tag/untagged-6a9cae6616f280eb42a2).

[2021-04-22 11:52] MPParsley commented on #719
See #699.

[2021-04-22 11:52] #719 closed, assigned to nobody

[2021-04-22 11:54] MPParsley commented on #699
I created the release on Github, see https://github.com/Gizra/og/releases/tag/8.x-1.0-alpha6

@amitaibu, can you push this on d.o?

[2021-04-22 12:26] pfrenssen commented on #699
Thanks so much for handling this release!

[2021-04-22 12:28] amitaibu commented on #699
@MPParsley Awesome work, and great release notes.

Release on d.o. will be published soon

![image](https://user-images.githubusercontent.com/125707/115714040-5d836b80-a37f-11eb-9dd2-5556c547f8d2.png)

[2021-04-22 12:46] MPParsley commented on #699
It's now available on https://www.drupal.org/project/og/releases/8.x-1.0-alpha6

Thank you guys!

[2021-04-22 12:46] #699 closed, assigned to amitaibu, pfrenssen, MPParsley

[2021-07-14 16:16] pfrenssen commented on #717
Duplicate of #243

[2021-07-14 16:16] #717 closed, assigned to nobody

[2021-07-16 13:24] MPParsley opened #725 "Fix event dispatcher BC"
The arguments to the event dispatcher are backwards compared to expected (some BC code in Symfony is allowing it for now):

`    $this->eventDispatcher->dispatch(GroupCreationEventInterface::EVENT_NAME, $event);
`

3:55
that’s in several places (the reversed arguments) (edited)

[2021-08-30 01:48] yookoala commented on #240
Any update on the beta release yet?

[2021-09-15 17:42] #581 closed, assigned to MPParsley

[2021-09-15 17:51] MPParsley commented on #580
Fixed in https://github.com/Gizra/og/pull/610

[2021-09-15 17:51] #580 closed, assigned to nobody

[2021-09-15 18:05] MPParsley commented on #160
Closing in favor of #570.

[2021-09-28 13:33] #160 closed, assigned to nobody

[2021-11-24 14:47] ebeyrent opened #730 "Getting memberships for a user via jsonapi"
### Problem/Motivation
As a front-end developer, I want to be able to show a list of all groups a given user has a membership in.  With jsonapi, that's fairly trivial:

`GET /jsonapi/og_membership/default?filter[uid.id][value]=<uuid>`

However, the response gives me the related entity bundle, id, and type of the group associated with the membership.  What it's missing is the title of the related g

[2021-12-10 20:07] ebeyrent commented on #730
Similarly, once you have the list of these membership entities and you wish to use jsonapi to create a relationship between one entity and the group referenced in the membership, you'll need the UUID of the group.  That uuid ought to be included with the membership entity so you don't have to make another request just to get it.

[2021-12-17 11:27] pfrenssen commented on #725
Seems we have a lot of deprecated calls :)

[code]

[2022-01-27 20:15] edvanleeuwen opened #735 "Tokens not available in File Field Path"
Problem/Motivation

- I am using [node:group_content_access] in the File Field Path settings. The token is not instantiated in the path.

Steps to reproduce

- Using OG and File Field Path, enter [node:group_content_access] in the file settings.
- Add a file.
- Look at the URL after the node has been saved.

Proposed resolution

- Generate the value of the token.

[2022-02-14 08:17] MPParsley commented on #379
Closing this as https://www.drupal.org/project/drupal/issues/2730631 is now committed to Drupal 9.3

[2022-02-14 08:17] #379 closed, assigned to nobody

[2022-02-15 15:10] MPParsley opened #736 "Access to Revisions of Group content is broken"
Drupal core 9.3 now provides a generic access API for node and media revisions.

See https://www.drupal.org/project/drupal/issues/3043321

This breaks the access to node revisions routes.

See also https://www.drupal.org/project/group/issues/3256998.

[2022-02-15 15:14] MPParsley commented on #736
@pfrenssen, we should probably add GroupPermission (view all permissions) & GroupContentOperationPermission (view any $bundle_id content revisions)?

[2022-02-16 15:43] pfrenssen commented on #736
Yes this is a good suggestion and something we should do. I was actually working on this recently but I was not able to finish this, and I have since moved to a new project. The new project is not using OG unfortunately so I will not have time to work on this any more. I will attach my work in progress.

[code]

[2022-02-19 18:32] schoenid opened #737 "How to automatically set the ADMINISTRATOR option for the creator of a group?"
How to automatically set the ADMINISTRATOR option for the creator of a group?

I've tried to modify the function og_entity_insert(EntityInterface $entity) as follows:

`
  if (!Og::getMembership($entity, $entity->getOwner(), OgMembershipInterface::ALL_STATES)) {
    $membership = Og::createMembership($entity, $entity->getOwner());
    // Get the roles
    $roles = $membership->getRoles();
    fore

[2022-03-16 17:32] ericveal commented on #240
Any update on the beta release? Thanks!

[2022-05-12 18:19] christianwiedemann opened #742 "Merge problem with group content permissions"
` $permissions = $this->generateEntityOperationPermissionList($group_content_entity_type_id, $bundle_id); `  overwrite multiple event content permissions in getDefaultEntityOperationPermissions. Let's use array_merge instead.

[2022-07-29 02:19] cofihouse opened #744 "Routing error when viewing Membership Types overview page"
I'm getting a WSOD post install when visiting the membership types administration page. Here's the error:

`Symfony\Component\Routing\Exception\MissingMandatoryParametersException: Some mandatory parameters are missing ("membership_type") to generate a URL for route "entity.og_membership_type.auto_label". in Drupal\Core\Routing\UrlGenerator->doGenerate() (line 181 of C:\wamp64\www\list\core\lib\Dr

[2022-07-30 04:21] cofihouse opened #745 "Non-members of groups can still post content to group"
Non-members of a group can still post content to the group via the entity reference field. I do realize I can create a special entity reference view that only allows a user to select groups to which they belong, but I'm wondering what the point of the "create new content" OG permission is for if it doesn't prevent a non-member from adding new content to a group? Or am I missing a setting somewhere

[2022-07-31 01:52] cofihouse commented on #745
Sorry. I'm seeing this is being worked on here #242.

[2022-07-31 01:52] #745 closed, assigned to nobody

[2022-08-25 07:24] MPParsley commented on #742
Hi @christianwiedemann, could you clarify what the problem is here?
Before looping the bundles, the list is initialized as an empty array: $permissions = [];

[2022-09-05 13:22] MPParsley commented on #742
Cf. https://github.com/Gizra/og/pull/748

[2022-09-05 15:39] #742 closed, assigned to nobody

[2022-09-08 06:13] dipakmdhrm opened #749 "Update Role Change forms to be aware of group & member without using tempstore.private"
## Problem/Motivation
Og has two forms (`OgAddMultipleRolesForm` & `OgRemoveMultipleRolesForm`) to add/remove group roles for a group memeber.

Both these form extend the `OgChangeMultipleRolesFormBase` class which stores the group & member data in `tempstore.private`.

This makes it a little complicated to alter these forms and do any kind of logic that needs to be aware of current group and the

[2022-10-13 22:34] jludwig commented on #744
See: https://github.com/Gizra/og/pull/751

[2022-10-14 02:43] cofihouse commented on #744
@jludwig pull request fixes my issue

[2022-10-14 02:43] #744 closed, assigned to nobody

[2022-10-14 04:56] cofihouse commented on #352
I'm desperately trying to build what I think is a simple view that would show the groups a user is a active member of (visible to anyone viewing the user's profile). But this is turning out to be impossible. I've applied both this PR and #254 and I cannot figure out how to do this. This relationship doesn't appear to actually pull in the expected content fields to the view. I've added relationship

[2022-10-14 05:07] cofihouse opened #752 "How to make a view of a user's groups"
I have applied the PR from #565 and #352 but I still cannot figure out how to build a view that shows the groups to which a user is a member. The view should be displayed on a profile and visible to anyone who visits the profile.

I have spent HOURS trying numerous combinations with contextual filters and relationships, both from the previously mentioned PR. But I cannot get anything to work. Plea

[2022-10-19 12:08] mkhalid03 opened #753 "OgRolesForm and OgPermissionsForm Form classes are missing"
`og_ui.roles_form` and `og_ui.permissions_form` exists but Form classes are missing

[2022-10-19 22:28] lozeone commented on #752
Im not sure if this is the best way to go about doing it, but I added this to the end of `og_views_data_alter()` in `og.views.inc`

It adds a views relationship for each entity type that you have enabled as an og group. For me this is almost always nodes.

So on a node view, you can add a relationship to a membership, then in contextual filters filter that membership by a specific user.  And you w

[2022-10-20 03:26] cofihouse commented on #752
Thank you so much! This finally works.

[2022-10-20 03:26] #752 closed, assigned to nobody